* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 44px;

}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

/* header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

}

.input {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    padding: 8px;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: left 11px center;
}

.input_address {
    flex: 0.8;
    background-image: url(../img/home.svg);
}    

.input_search {
    background-image: url(../img/search.svg);
    width: 306px;
    margin-left: auto;
}


.buttons {
    display: flex;
    align-items: center;

}

.button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
    color: #595959;
    font-size: 16px;
    line-height: 24px;
}

.button_card_text {
    margin-right: 10px;
}

.button-primary {
    background: #1890FF;
    border: 1px solid #1890FF;
    color: #fff;
    margin-right: 10px;

}

.button_icon {
    margin-right: 6px;
}



/* Intro */

.intro {
    box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
    background: #FFF1B8 url(../img/intro_img.png) no-repeat top -100px right -247px / 954px;
    border-radius: 10px;
    padding: 68px 70px;
    margin-bottom: 56px;
}

.intro_title {
    font-style: normal;
    font-weight: bold;
    font-size: 39px;
    line-height: 46px;
    color: #302C34;  
    
}

.intro_text {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #302C34;

}

/* restaurants */

.main {
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}    

.section_heading {
    display: flex;
    align-items: center;
    margin-bottom: 44px;
}



.section_title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin: 0;
    margin-right: 30px;
}

/* cards */

.cards {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;   /*Это чтобы если флексы не помещаются в одну строчку сами переносились на следующую*/
    justify-content: space-between;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 30px;
    flex-basis: 31%;
    text-decoration: none;
}

.card_image {
    width: 384px;
    height: 250px;
    object-fit: cover;
}

.card_text {
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 23px;
    padding-right: 23px;

}

.card_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_title {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #000000;

}

.card_title {
    font-weight: 400;
    margin-bottom: 10px;
}

.card_tag {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    background: #262626;
    border-radius: 2px;
    padding: 1px 8px;

}

.card_info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.card_buttons {
    display: flex;
    align-items: center;
    margin-top: 24px;

}

.card-price-bold {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    margin-left: 32px;

    color: #000000;
}

.rating {
    margin-right: 26px;
    color: #FFC107;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
}

.rating_star {
    margin-right: 5px;
}

.price, .category {
    color: #8C8C8C;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}

.price {
    margin-right: 10px;
}

.ingredients {
    color: #8C8C8C;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}



.category {
    text-overflow: ellipsis; /*если текст не умещается, ставится троеточие*/
    overflow: hidden;   /*все что вылазиет за пределы блока должно скрываться*/
    white-space: nowrap; /*запрещает словам переносится на другую строчку*/
    max-width: 150px;

}

.price:after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #8C8C8C;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 10px;

}

/* footer */

.footer {
    padding: 60px 0;
}

.footer_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_nav {
    margin-right: auto;
    margin-left: 35px;
}

.footer_link {
    display: inline-block;
    color: #595959;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
}

.footer_link:not(:last-child){
    margin-right: 15px;

}

.social_links {
    display: flex;
    align-items: center;
}

.social_link:not(:last-child) {
    margin-right: 21px;
}

.modal {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
}

.is-open {
    display: flex;
}

.modal-dialog {
    margin: auto;
    max-width: 780px;
    width: 95%;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 40px 45px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}



.modal-title {
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}

.close {
    font-size: 36px;
    border: none;
    background-color: transparent;
}

.modal-body {
    margin-bottom: 52px;
}

.modal-pricetag {
    background: #262626;
    border-radius: 5px;
    color: #ffffff;
    padding: 15px 20px;
    font-size: 20px;
    line-height: 23px;

}

.food-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 15px;
}

.food-price {
    margin-left: auto;
    margin-right: 47px;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
}

.food-name {
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}

.food-counter {
    display: flex;
    align-items: center;
}

.counter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #40A9FF;
    box-sizing: border-box;
    border-radius: 2px;
    width: 39px;
    height: 32px;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #40A9FF;
}

.counter {
    font-size: 16px;
    line-height: 24px;
    margin-left: 10px;
    margin-right: 10px;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-buttons {
    display: flex;
    align-items: center;
}

@media (max-width: 1366px) {
  .container {
      max-width: 960px;
  }

  .intro {
      background-position: center right -300px;
      background-size: 750px;
  }

  .category, .price {
      font-size: 14px;
      }
 }

 @media (max-width: 992px) {
     .container {
        max-width: 750px;
     }

     .intro {
         padding: 50px;
         background-size: 500px;
         background-position: center right -200px;
     }

     .intro_text {
         font-size: 18px;
         max-width: 400px;

     }

     .card {
         flex-basis: 49%;
     }

     .footer_link {
         font-size: 16px;
     }
 }

 @media (max-width:768px) {
     .container {
         max-width: 560px ;
     }
     
     .card_info {
         flex-wrap: wrap;
     }
     .card.rating {
         flex-basis: 100%;
     }
    
     .card_title {
         font-size: 18px;
     }

     .intro-title {
         font-size: 24px;
         line-height: 1.4;
         
     }

     .intro_text {
         margin-top: 0;
     }

     .intro {
         background-size: 400px;
         background-position: bottom 50px right -200px ;
     }
 }

 @media (max-width:578px) {
     .container {
         width: 90%;
     }

     .header {
         flex-wrap: wrap;

     }

     .input_address {
         order: 5;
         margin-top: 15px;
         flex: 1;
     }

     .intro {
         background-image: none;
     }

     .intro_title {
         margin-bottom: 10px;
     }

     .section_title {
         font-size: 20px;
     }

     .card {
         flex-basis: 100%;
     }

     .card_image {
         width: 100%;
     }

    .footer {
        padding: 30px 0;
    }

    .footer_block {
        align-items: flex-start;
        
    }

     .footer_nav {
         order: 0;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;
     }

     .footer_logo {
         order: 1;
         margin-right: 15px;
     }

     .social_links {
         order: 2;
     }
 }

 @media (max-width: 480px) {
    .section_heading{
        flex-wrap: wrap;
    }
    
    .intro {
        padding: 20px;
    }

    .button_text {
        display: none;
    }

    .button {
        min-height: 40px;
    }

    .button_icon {
        margin: 0;
    }

    .footer_block {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
     }

     .footer_link:not(:last-child) {
         margin-right: 0;
     }


     .footer_logo {
         order: 0;
         margin-bottom: 20px;
     }

     .footer_nav {
         margin-bottom: 20px;
         text-align: center;
     }
 }